.dashboard-card {
    width: 264px;
    height: 80px;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    .color-box {
        width: 80px;
        height: 80px;
        border-radius: 15px 0 0 15px;
        cursor: pointer;
    }
    .title {
        padding: 5px;
        cursor: pointer;
        p {
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .menu {
        width: 20px;

    }
}